<section id="projects">
  <div class="container">
    <header class="mb-5 pb-4">
      <p class="font-weight-bold text-primary text-uppercase letter-spacing-3">Better Perfect Me.</p>
      <h2 class="text-uppercase lined">Personal Projects</h2>
    </header>


    <div class="row border rounded p-4 m-4">
      <div class="vw-100">
        <h4>sads.js (Simple Application Data Service)</h4>
        <div class="d-flex justify-content-between m-2">
          Build a fully functional server providing RESTful APIs within 20 minutes! Boost your development in early scrum stages.
        </div>
        <div class="d-flex justify-content-between m-2">
          <i>Nodejs (nestjs) + AWS DynamoDB</i>
          <div>
            <a href="https://github.com/DerekJi/sads.js/" target="_blank"><i class="fa fa-github-square">&nbsp;</i>Code</a>
          </div>
        </div>
      </div>
      <div class="text-center">
        <img src="assets/images/dynamodb-nodejs-banner.png" width="100%">
      </div>
    </div>


    <div class="row border rounded p-4 m-4">
      <div class="vw-100">
        <h4>Boostart.NET</h4>
        <div class="d-flex justify-content-between m-2">
          Take advantages of OOP to reduce unnecessary redundant CRUD code so that developers could Focus on business logic and more valuable parts.
        </div>
        <div class="d-flex justify-content-between m-2">
          <i>.NET Core 3.1 + RDBMS (MSSQL Server)</i>
          <div>
            <a href="https://github.com/DerekJi/boostart.net" target="_blank"><i class="fa fa-github-square">&nbsp;</i>Code</a>
          </div>
        </div>
      </div>
      <div class="text-center">
        <img src="assets/images/dot-net-ef-logo.png" width="100%">
      </div>
    </div>


    <div class="row border rounded p-4 m-4">
      <div class="vw-100">
        <h4>My Online Resume</h4>
        <div class="d-flex justify-content-between m-2">
          <i>Built with Angular & Bootstrap</i>
          <div>
            <a href="https://github.com/DerekJi/ng-bt-resume/" target="_blank"><i class="fa fa-github-square">&nbsp;</i>Code</a> |
            <a href="https://derekji.github.io/" target="_blank"><i class="	fa fa-play-circle">&nbsp;</i>Demo</a>
          </div>
        </div>
      </div>
      <div class="text-center">
        <img src="assets/images/snapshot-resume.png" width="100%">
      </div>
    </div>


    <div class="row border rounded p-4 m-4">
      <div class="vw-100">
        <h4>Starteroo (Angular Admin Template)</h4>
        <div class="d-flex justify-content-between m-2">
          <i>Built with Angular & Bootstrap</i>
          <div>
            <a href="https://github.com/DerekJi/ngx-theme-starteroo" target="_blank"><i class="fa fa-github-square">&nbsp;</i>Code</a> |
            <a href="https://derekji.github.io/ngx-theme-starteroo" target="_blank"><i class="	fa fa-play-circle">&nbsp;</i>Demo</a>
          </div>
        </div>
      </div>
      <div class="text-center">
        <img src="assets/images/snapshot-starteroo.png" width="100%">
      </div>
    </div>

  </div>
</section>
