/*
*
* =====================
* GENERAL
* =====================
*
*/
body {
  overflow-x: hidden;
}

section {
  padding: 6.5rem 0;
  overflow: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.cv-text-primary {
  color: $primary-color !important;
}

a.cv-text-primary:hover, a.cv-text-primary:focus {
  color: $primary-hover-color !important;
}
