/*
*
* =====================
* GENERAL
* =====================
*
*/
body {
  overflow-x: hidden;
}

section {
  padding: 6.5rem 0;
  overflow: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: .1em;
}
