/*
     Letter spacing helpers - .letter-spacing-[0-5]
    ------------------------
*/
.letter-spacing-0 {
  letter-spacing: 0 !important;
}

.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-2 {
  letter-spacing: 0.2em;
}

.letter-spacing-3 {
  letter-spacing: 0.3em;
}

.letter-spacing-4 {
  letter-spacing: 0.4em;
}

.letter-spacing-5 {
  letter-spacing: 0.5em;
}
