.text-small {
  font-size: 0.9rem !important;
}

.text-lg {
  font-size: 3.5rem !important;
}

@media (min-width: 992px) {
  .text-xl {
    font-size: 5rem !important;
  }
}

.index-forward {
  z-index: 99;
  position: relative;
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center center !important;
}

.bg-top {
  background-position: top center !important;
}

.bg-bottom {
  background-position: bottom center !important;
}

.section-padding {
  padding: 6.5rem 0;
}

.lined {
  display: inline-block;
  position: relative;
  padding-bottom: 0.7rem;
}

.lined::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 3px;
  background: $primary-color;
}

.lined::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 3rem;
  height: 2px;
  background: $primary-color;
}

.lined-center::before {
  left: calc(50% - 1.65rem);
}

.lined-center::after {
  left: calc(50% + 1.65rem);
}

input.text-white::-webkit-input-placeholder {
  color: #fff;
}

input.text-white::-moz-placeholder {
  color: #fff;
}

input.text-white:-ms-input-placeholder {
  color: #fff;
}

input.text-white::-ms-input-placeholder {
  color: #fff;
}

input.text-white::placeholder {
  color: #fff;
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center center !important;
}

.index-forward {
  z-index: 999 !important;
}

.reset-anchor {
  color: inherit;
  text-decoration: none;
}

.reset-anchor:hover, .reset-anchor:focus {
  color: inherit;
  text-decoration: none;
}
