
/*
     Transparent overlays
    ------------------------
*/
.overlay-content {
  position: relative;
  z-index: 20;
}

@media (min-width: 576px) {
  .light-overlay-sm,
  .overlay-hover-light-sm {
    position: relative;
  }
  .light-overlay-sm::after,
  .overlay-hover-light-sm::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background: #fff;
  }
}

@media (min-width: 576px) {
  .overlay-hover-light-sm::after {
    transition: opacity 0.15s linear;
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .light-overlay-sm::after,
  .overlay-hover-light-sm:hover::after {
    opacity: .4;
  }
}

@media (min-width: 576px) {
  .light-overlay-sm-0::after,
  .overlay-hover-light-sm-0:hover::after {
    display: none;
  }
}

.dark-overlay-sm {
  position: relative;
}

@media (min-width: 576px) {
  .dark-overlay-sm::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: .4;
    background: #000;
  }
}

@media (min-width: 576px) {
  .dark-overlay-sm-0::after {
    display: none;
  }
}

@media (min-width: 768px) {
  .light-overlay-md,
  .overlay-hover-light-md {
    position: relative;
  }
  .light-overlay-md::after,
  .overlay-hover-light-md::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background: #fff;
  }
}

@media (min-width: 768px) {
  .overlay-hover-light-md::after {
    transition: opacity 0.15s linear;
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .light-overlay-md::after,
  .overlay-hover-light-md:hover::after {
    opacity: .4;
  }
}

@media (min-width: 768px) {
  .light-overlay-md-0::after,
  .overlay-hover-light-md-0:hover::after {
    display: none;
  }
}

.dark-overlay-md {
  position: relative;
}

@media (min-width: 768px) {
  .dark-overlay-md::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: .4;
    background: #000;
  }
}

@media (min-width: 768px) {
  .dark-overlay-md-0::after {
    display: none;
  }
}

@media (min-width: 992px) {
  .light-overlay-lg,
  .overlay-hover-light-lg {
    position: relative;
  }
  .light-overlay-lg::after,
  .overlay-hover-light-lg::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background: #fff;
  }
}

@media (min-width: 992px) {
  .overlay-hover-light-lg::after {
    transition: opacity 0.15s linear;
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .light-overlay-lg::after,
  .overlay-hover-light-lg:hover::after {
    opacity: .4;
  }
}

@media (min-width: 992px) {
  .light-overlay-lg-0::after,
  .overlay-hover-light-lg-0:hover::after {
    display: none;
  }
}

.dark-overlay-lg {
  position: relative;
}

@media (min-width: 992px) {
  .dark-overlay-lg::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: .4;
    background: #000;
  }
}

@media (min-width: 992px) {
  .dark-overlay-lg-0::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .light-overlay-xl,
  .overlay-hover-light-xl {
    position: relative;
  }
  .light-overlay-xl::after,
  .overlay-hover-light-xl::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background: #fff;
  }
}

@media (min-width: 1200px) {
  .overlay-hover-light-xl::after {
    transition: opacity 0.15s linear;
    opacity: 0;
  }
}

@media (min-width: 1200px) {
  .light-overlay-xl::after,
  .overlay-hover-light-xl:hover::after {
    opacity: .4;
  }
}

@media (min-width: 1200px) {
  .light-overlay-xl-0::after,
  .overlay-hover-light-xl-0:hover::after {
    display: none;
  }
}

.dark-overlay-xl {
  position: relative;
}

@media (min-width: 1200px) {
  .dark-overlay-xl::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: .4;
    background: #000;
  }
}

@media (min-width: 1200px) {
  .dark-overlay-xl-0::after {
    display: none;
  }
}

.light-overlay,
.overlay-hover-light {
  position: relative;
}

.light-overlay::after,
.overlay-hover-light::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  background: #fff;
}

.overlay-hover-light::after {
  transition: opacity 0.15s linear;
  opacity: 0;
}

.light-overlay::after,
.overlay-hover-light:hover::after {
  opacity: .4;
}

.light-overlay-0::after,
.overlay-hover-light-0:hover::after {
  display: none;
}

.dark-overlay {
  position: relative;
}

.dark-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  opacity: .4;
  background: #000;
}

.dark-overlay-0::after {
  display: none;
}
