/*
    Rounded corners - lg, sm
   ------------------------
*/
.rounded-lg {
  border-radius: 0.8rem !important;
}

.rounded-sm {
  border-radius: 0.2rem;
}

.rounded-xl {
  border-radius: 10rem;
}
