<section id="experience">
  <div class="container">
    <header class="mb-5 pb-4">
      <p class="font-weight-bold text-primary text-uppercase letter-spacing-3">Yes, we can!</p>
      <h2 class="text-uppercase lined">Experience</h2>
    </header>
    <!--  Timeline -->
    <ul class="timeline">
          <!-- Timeline item-->
          <li class="timeline-item ml-3 pb-4">
            <div class="timeline-arrow"></div>
            <div class="row no-gutter">
              <div class="col-lg-5 mb-4 mb-lg-0">
                <p class="font-weight-bold mb-2 cv-text-primary text-small">June 2019 – Present </p>
                <h2 class="h5 mb-0 text-uppercase">DPTI SA</h2>
                <p class="text-small mb-0">Senior Web Developer</p><span class="small text-muted">Adelaide, South Australia</span>
              </div>
              <div class="col-lg-7">
                <div class="text-muted">Develop and support web applications with Angular 8/9 and .NET Core. It was pretty much a success so the contract got extended again and again for several other projects.</div>
              </div>
            </div>
          </li>
          <!-- Timeline item-->
          <li class="timeline-item ml-3 pb-4">
            <div class="timeline-arrow"></div>
            <div class="row no-gutter">
              <div class="col-lg-5 mb-4 mb-lg-0">
                <p class="font-weight-bold mb-2 cv-text-primary text-small">Feb 2018 - June 2019 </p>
                <h2 class="h5 mb-0 text-uppercase">Novaworks inc.</h2>
                <p class="text-small mb-0">Software Developer</p><span class="small text-muted">Adelaide, South Australia</span>
              </div>
              <div class="col-lg-7">
                <div class="text-muted">
                  Develop and support PIMS for parliaments (state & federal) in Australia, involved in the whole software life cycle as a full stack developer.
                  <ul>
                    <li>Build RESTful Web APIs with .NET Core 2.0 + SQL Server</li>
                    <li>SharePoint Development</li>
                    <li>DevOps & Azure PaaS</li>
                    <li>Build front-end UI with React or KendoUI (for AngularJS) + Typescript + jQuery</li>
                    <li>Scrum & Test driven development</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <!-- Timeline item-->
          <li class="timeline-item ml-3 pb-4">
            <div class="timeline-arrow"></div>
            <div class="row no-gutter">
              <div class="col-lg-5 mb-4 mb-lg-0">
                <p class="font-weight-bold mb-2 cv-text-primary text-small">June 2017 - Feb 2018 </p>
                <h2 class="h5 mb-0 text-uppercase">Toop & Toop Real Estate</h2>
                <p class="text-small mb-0">Software Developer</p><span class="small text-muted">Adelaide, South Australia</span>
              </div>
              <div class="col-lg-7">
                <div class="text-muted">
                  Build and maintain <a href="https://www.youtube.com/channel/UC0KIY8YgsJYaCR4shqtzT_A" target="_blank">VAFIX</a>, a powerful property management system, which provides services to more than 10 real estate companies across from Australia.
                  <ul>
                    <li>.NET MVC5 & WebAPI + SQL Server 2015</li>
                    <li>Front-end with jQuery & ReactJS & Bootstrap</li>
                    <li>Scrum & Test-driven development</li>
                    <li>Integrated with popular industry systems like REX and payment methods</li>
                    <li>Covers all aspects in the real-estate industry</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
    </ul>
  </div>
</section>
