<section class="bg-light" id="about">
  <div class="container">
    <header class="mb-5">
      <p class="font-weight-bold text-primary text-uppercase letter-spacing-3">Enthusiastic & Self-Motivated</p>
      <h2 class="h3 lined text-uppercase">To boost your business</h2>
    </header>
    <div class="">
      <div>
        <strong>Main Technology Stack</strong>
        <ul>
          <li>ASP.NET Core (C#), RESTful WebAPI, Entity Framework, LINQ</li>
          <li>Building front-end with Typescript, Angular or React</li>
          <li>Database administration and scripting (SQL Server & Postgres);</li>
          <li>Git (Bitbucket & Github)</li>
          <li>DevOps & PaaS (Azure, AWS)</li>
        </ul>
      </div>

      <div>
        <strong>Core Strengths</strong>
        <ul>
          <li>Great problem-solving skills & Can-Do attitudes.</li>
          <li>Having an approachable and professional manner at all times.</li>
          <li>Able to work on and support several projects simultaneously.</li>
          <li>Continuously striving to improve all practices, routines and systems.</li>
        </ul>
      </div>
    </div>

  </div>
</section>
