<section class="bg-light" id="education">
  <div class="container">
    <header class="mb-5 pb-4">
      <p class="font-weight-bold text-primary text-uppercase letter-spacing-3">Always doing my best.</p>
      <h2 class="text-uppercase lined">Education</h2>
    </header>
    <!--  Timeline -->
    <ul class="timeline">
          <!-- Timeline item-->
          <li class="timeline-item ml-3 pb-4">
            <div class="timeline-arrow"></div>
            <div class="row no-gutter">
              <div class="col-lg-5 mb-4 mb-lg-0">
                <p class="font-weight-bold mb-2 text-primary text-small">2001 - 2004 </p>
                <h4 class="h5 mb-0">Master Degree of</h4>
                <h2 class="h5 mb-0 text-uppercase">Computer Science</h2>
                <p class="text-small mb-0"><a href="https://english.jnu.edu.cn/about_jnu/list.htm" target="_blank">Ji'nan University</a></p><span class="small text-muted">Guangzhou, China</span>
              </div>
              <div class="col-lg-7">
                <p class="text-muted">

                </p>
              </div>
            </div>
          </li>
          <!-- Timeline item-->
          <li class="timeline-item ml-3 pb-4">
            <div class="timeline-arrow"></div>
            <div class="row no-gutter">
              <div class="col-lg-5 mb-4 mb-lg-0">
                <p class="font-weight-bold mb-2 text-primary text-small">1996 - 2000 </p>
                <h4 class="h5 mb-0">Bachelor Degree of</h4>
                <h2 class="h5 mb-0 text-uppercase">Mining Engineering</h2>
                <p class="text-small mb-0"><a href="http://english.neu.edu.cn/3544/list.htm" target="_blank">Northeastern University</a></p><span class="small text-muted">Shenyang, China</span>
              </div>
              <div class="col-lg-7">
                <p class="text-muted">
                </p>
              </div>
            </div>
          </li>
    </ul>
  </div>
</section>
