<section class="bg-light" id="education" *ngIf="educations">
  <div class="container">
    <header class="mb-5 pb-4">
      <p class="font-weight-bold text-primary text-uppercase letter-spacing-3">Always doing my best.</p>
      <h2 class="text-uppercase lined">Education</h2>
    </header>
    <!--  Timeline -->
    <ul class="timeline">
          <!-- Timeline item-->
          <li class="timeline-item ml-3 pb-4" *ngFor="let edu of educations">
            <div class="timeline-arrow"></div>
            <div class="row no-gutter">
              <div class="col-lg-5 mb-4 mb-lg-0">
                <p class="font-weight-bold mb-2 cv-text-primary text-small">{{ edu.from.year }} - {{ edu.to.year }} </p>
                <h4 class="h5 mb-0">{{ edu.degree }} Degree of</h4>
                <h2 class="h5 mb-0 text-uppercase">{{ edu.major }}</h2>
                <p class="text-small mb-0"><a href="{{ edu.organisation.officialWebsite }}" target="_blank">{{ edu.organisation.name }}</a></p>
                <span class="small text-muted">{{ edu.organisation.city.city }}, {{ edu.organisation.city.country }}</span>
              </div>
              <div class="col-lg-7">
                <p class="text-muted">

                </p>
              </div>
            </div>
          </li>
    </ul>
  </div>
</section>
