<section id="expertise">
  <div class="container">
    <header class="mb-5 pb-4">
      <p class="font-weight-bold cv-text-primary text-uppercase letter-spacing-3">Provide you complete solutions.</p>
      <h2 class="text-uppercase lined">Expertise</h2>
    </header>
    <div class="row">
      <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="cv-text-primary mr-2">01</span>Back End Development</h3>
        <div class="text-muted text-small ml-4 pl-3">
          <div>Specialised on ASP.NET Core (C#), EntityFramwork/Linq, REST & Graph APIs</div>
          <div>Strive to excel in building secure, robust and flexible applications with high quality and performance.</div>
        </div>

      </div>
      <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="cv-text-primary mr-2">02</span>Front End Development</h3>
        <div class="text-muted text-small ml-4 pl-3">
          <div>Mainly working with Typescript, Angular 7/8/9, React and Bootstrap.</div>
          <div>Excellent experience with relevant libraries like redux (React), NgRx, rxjs, ... etc. </div>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-md-0">
        <h3 class="h4"><span class="cv-text-primary mr-2">03</span>DevOps & Cloud</h3>
        <div class="text-muted text-small ml-4 pl-3">
          <div>Built automated CI & CD on Azure DevOps, Github Actions, Bamboo.</div>
          <div>Deployed products to Azure App Service, AWS Lambda/S3 or Github Pages.</div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="h4"><span class="cv-text-primary mr-2">04</span>Database</h3>
        <div class="text-muted text-small ml-4 pl-3">
          <div>10+ years experience on rational databases like MSSqlServer, Postgres, MySQL</div>
          <div>Interested in NoSQL, and building personal projects on DynamoDB</div>
        </div>
      </div>
    </div>
  </div>
</section>
