<section class="hero bg-cover bg-center mt-5" id="hero" style="background: url(assets/images/bg-developing.jpg)">
  <div class="container py-5 my-5 index-forward">
    <div class="row">
      <div class="col-md-8 text-white">
        <h2 class="h4 text-primary font-weight-normal mb-0">Hi, I am</h2>
        <h1 class="text-uppercase text-xl mb-0">Derek <span class="text-primary">Ji</span></h1>
        <h2 class="h4 font-weight-normal">Full Stack Developer</h2>
        <div class="font-weight-normal mb-5">ASP.NET Core | Angular | React</div>
        <p class="text-shadow">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</section>
