<section id="hero">
  <div class="container py-5 my-5 hero-content">
    <div class="row">
      <div class="col-md-9" *ngIf="name">
        <p class="hero-greeting">Hi, I am</p>
        <h1 class="hero-name text-uppercase">
          {{ name.firstName }}&nbsp;<span class="cv-text-primary">{{ name.lastName }}</span>
        </h1>
        <h2 class="hero-title text-uppercase">{{ cv.positionTitle }}</h2>
        <p class="hero-keywords"><i>{{ cv.keywords.join(' &nbsp;·&nbsp; ')}}</i></p>
        <ul class="hero-list">
          <li *ngFor="let sum of cv.summaries">{{ sum }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
