<section class="hero bg-cover bg-center mt-5" id="hero" style="background: url(assets/images/bg-developing.jpg)">
  <div class="container py-5 my-5 index-forward">
    <div class="row">
      <div class="col-md-8 text-white">
        <h2 class="h4 text-primary font-weight-normal mb-0">Hi, I am</h2>
        <h1 class="text-uppercase text-xl mb-0">Derek <span class="text-primary">Ji</span></h1>
        <h2 class="text-uppercase h4 font-weight-normal">Full Stack Web Developer</h2>
        <div class="font-weight-normal mb-5 text-light"><i>.NET Core (C#) | Angular | React | Bootstrap</i></div>
        <ul class="text-shadow">
          <li>Turn your business into successful solutions and web applications.</li>
          <li>10+ years experience on commercial application development, with sound knowledge on OOP and SOLID principles</li>
          <li>Microsoft Certified Professional (MCSA & MCP) </li>
          <li>Practical on rational databases like SQL Server, Postgres</li>
        </ul>
      </div>
    </div>
  </div>
</section>
